---
import "@/styles/markdown.css";
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("algorithms");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout nav={false}>
  <section class="algorithms">
    <div class="algorithms__content">
      <Content />
    </div>
  </section>
</Layout>
