---
import Layout from "@layouts/Layout.astro";
---

<Layout nav={true}>
  <section>
    <h1>Algoritmos</h1>
    <p>
      En esta sección, exploraremos diversos algoritmos y su implementación.
    </p>
  </section>
  <hr />
</Layout>

<style>
  section {
    margin: auto;
    padding-top: 96px;
    max-width: 90%;
  }
</style>

