---
import Layout from "@layouts/Layout.astro";
---

<Layout nav={true}>
  <section>
    <h1>Linux</h1>
    <p>Hay que conocer Linux</p>
  </section>
  <hr class="" />
</Layout>

<style>
  section {
    margin: auto;
    padding-top: 96px;
    max-width: 90%;
    background-color: var(--bg-dark-light);
  }
</style>

