---
import "@/styles/markdown.css";
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("jsPosts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout nav={true}>
  <section class="blog">
    <div class="blog__content">
      <Content />
    </div>
  </section>
</Layout>

<style>
  .blog__content h1 {
    margin: 2rem;
  }
  .blog {
    margin: auto;
    padding-top: 96px;
    text-align: left;
    width: 90%;
    max-width: 720px;
  }
</style>
