---
import Post from "@components/Post.astro";
import Layout from "@layouts/Layout.astro";
import { ArrowLeft } from "@lucide/astro";

import { getCollection } from "astro:content";

const jsPosts = await getCollection("jsPosts");
---

<Layout nav={true}>
  <section class="blog">
    <h1>JavaScript</h1>
    <p>
      En esta sección, exploraremos diversos conceptos y técnicas de JavaScript.
    </p>
    <hr />
    <div class="posts">
      {
        jsPosts.map((post) => (
          <Post
            title={post.data.title}
            date={post.data.date}
            link={`/javascript/${post.id}`}
          />
        ))
      }
    </div>

    <div class="blog__button-container">
      <a href="/" class="blog__back-btn">
        <ArrowLeft size={16} />
        Volver a inicio
      </a>
    </div>
  </section>
</Layout>

<style>
  section {
    margin: auto;
    padding-top: 96px;
    max-width: 90%;
  }
</style>
